.header-search .header-search-select .el-input__inner {
    background: transparent;
    border-radius: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--app_color) !important;
    vertical-align: middle;
}


.header-search {
    font-size: 0 !important;
    display: flex !important;
}

.header-search .search-icon {
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
}

.header-search .header-search-select {
    font-size: 18px;
    transition: width 0.2s;
    width: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
}

.header-search.show .header-search-select {
    width: 210px;
    margin-left: 10px;
}
